// ------------------------------
// 总样式入口文件
// ------------------------------

@import "_base/variables.styl"
@import "_base/extend.styl"
@import "_base/mixins.styl"

body
    color $text_color
    background #212121
    background-size 100% auto;

.body-box
    width 100%
    .content-box
        margin 50px 0px
        display flex
    
@import "org/reset.css"
@import "_module/*"
@import "_util/media"





