// ------------------------------
// 总样式入口文件
// ------------------------------

@import "_base/variables.styl"
@import "_base/extend.styl"
@import "_base/mixins.styl"

body
    color $text_color
    background: #141611 url(/imgs/bg.jpg) no-repeat center top;
    background-size: 100% auto;

.body-box
    width 1000px
    margin 0px auto;
    .content-box
        display flex
    
@import "org/reset.css"
@import "_module/*"
@import "_util/media"





