// ------------------------------
// 总样式入口文件
// ------------------------------

@import "_base/variables.styl"
@import "_base/extend.styl"
@import "_base/mixins.styl"

body
    color $text_color
    background-color #eee

.body-box
    .content-box
        display flex
        align-items:stretch;
    
@import "org/reset.css"
@import "_module/*"
@import "_util/media"





