// ------------------------------
// White theme
// ------------------------------

@import "_base/variables_white.styl"
@import "../_base/mixins.styl"

body
    background-color #fff

::-webkit-scrollbar
    width 10px
::-webkit-scrollbar-thumb
    background-color $theme_color
    border-radius 0px

.sidebar
    background-color $bar_color
    >ul
        >li
            border(bottom)
            a.active
                background-color $theme_color
            a
                &:hover
                    background-color $theme_color
            ul
                background-color #fff

.main-con
    background-color $main_color
    box-shadow 0px 0px 10px #c9c9c9 inset
    .top
        .account-list
            a
                &:hover
                    color #fff
    .top
    .column-head
        background-image url('/imgs/head_01.jpg') !important
    .article-title
        a
            color $text_color
    .article-description
    .article-inner-con
        color $text_color
        h1, h2, h3, h4, h5,h6
            border(bottom)
        blockquote
            border(left, 1px solid $theme_color)
            background-color #fff
        a
            color $text_color
        table
            td
            th
                border()
            th
                background  $text_color
    .highlight
    code
        border()
        background-color #fff
    .highlight
        margin 20px 0px
        .gutter
            color $text_color
        table
            td
            th
                border(all, none)
        hr
            background-color $text_color
    .more-link
        color $text_color
    .article-navgition
        border(top)
        a
            color $text_color
        .navgition-wrap
            > div
                &:hover
                    background-color $theme_color
    .article-head
        background-color: $theme_color !important
    .pagination 
        span
        a
            border()
            margin 10px
            color $text_color
            &:hover
                background-color $theme_color
                color #fff
        .current
            background-color: $theme_color
            border()
            color #fff
    .article-time
        color $text_color_description
    .archive-title
        color $text_color
        border(bottom)
        a
            color $text_color
    .archive-year
        color $text_color
        span.year-block
            background-color $theme_color
        span.year-info
            &:first-letter
                color #fff
    .tags-list
        li
            a
                background-color #eee
                color $text_color
                &:hover
                    background-color $theme_color
.extend-tools
    li
        border()
        color $text_color
        &:hover
            background-color $text_color
.toolbar
.article-dirname
    background-color: #fff
.article-dirname
    .dirname-list
        a
            border(bottom)
            &.active
                color $text_color
    .dirname-title
        color $text_color
        border(bottom)
.toolbar
    .widget-search
        input[type="search"]
            border(all, 1px solid #c5c5c5)
            &:hover
                border(all, 1px solid $text_color)
    .widget-tags
    .widget-categories
        a
            &:hover
                color $text_color
                font-weight bold
.toolbar
    .widget-title
        color $text_color
    > div
        border-bottom 1px solid $border_color !important
.footer
    border(top)
    a
        color: $text_color !important
        text-decoration underline

.light-area
    background-color #eee
