// ------------------------------
// 公共变量
// ------------------------------

// Color
$theme_color = #667800 // 主题色
$bar_color = #121212  // 边栏背景色
$main_color = #1d1d1d // 主体背景色
$border_color = #383838 // 边框颜色
$text_color = #c2c2c2 // 正文颜色
$text_color_description = #7b7b7b // 子标题/描述 颜色
$shadow_color = #333333; // 阴影颜色

// size
$text_size = 16px // 正文字号
$column_text_size = 38px // 栏目标题字号

// margin
$wrap_margin = 100px;

// media
$wrap_margin_media = 30px



