// ------------------------------
//  子主题变量
// ------------------------------

// Color
$theme_color = #565656 // 主题色
$bar_color = #fff  // 边栏背景色
$main_color = #fff // 主体背景色
$border_color = #dadada // 边框颜色
$text_color = #565656 // 正文颜色
$text_color_description = #666 // 子标题/描述 颜色
$shadow_color = #333333; // 阴影颜色




