<div class="content-box">
    <%- partial('_partial/sidebar') %>
    <div class="content-article">
        <%- partial('_partial/nav') %>
        <div class="content-article-box">
            <%- body %>
        </div>
        <%- partial('_partial/pagination') %>
    </div>
</div>