<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			Powered By <a href="https://hexo.io/zh-cn/" target="_blank">hexo</a>
			theme <a href="https://github.com/shijuuu/hexo-theme-mokusei" target="_blank">Mokusei</a> by <a href="https://blog.shijukun.com" target="blank">Shiju</a>
	</p>
</footer>

<%- js('js/org/jquery.min.js') %>

<script>
	(function(){
		var mobile_menu = $(".mobile-toggle");
		var con_box= $(".content-article");
		var ifs = 1;
		mobile_menu.on("touchstart", function(){
			if(ifs){
				con_box.css('overflow','hidden');
				con_box.animate({
					left: '250px'
				});
				ifs = 0;
			}else{
				con_box.css('overflow','visible');
				con_box.animate({
					left: '0px'
				});
				ifs = 1;
			}
		})
	})();
</script>



