<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			<a href="https://hexo.io/zh-cn/" target="_blank">hexo</a> <br/>
			theme <a href="http://blog.shijukun.com" target="_blank">Mokusei</a> by <a href="https://blog.shijukun.com" target="blank">Shiju</a>
	</p>
</footer>



