<!--[if lt IE 9]>
    <div class="ie-ifs">
        <p>很抱歉，检测到你所使用的浏览器版本为IE8及以下，我的博客模板使用了一些css3特性，你可能会遇到布局错乱等情况，如果想拥有比较好的浏览体验，请
        <a href="https://www.google.cn/chrome/" target="_blank">升级浏览器</a>!</p>
    </div>
<![endif]-->