// ------------------------------
// 多端响应适配
// ------------------------------

@media screen and (max-width:960px)
    .body-box
        width 100%
    .sidebar
        display none
    .content-article
        .content-article-box
            padding $wrap_margin_media
        .pagination
            margin $wrap_margin_media
    .footer
        text-align center
    .nav
        height auto
        background-color #dadada
        .mobile-menu
            text-align center
            display block !important
            background-color $theme_color
            color #fff
            img
                width 20px
                vertical-align middle
            
        ul
            display none
            li
                float none
                display block
                a
                    color #333
                    &.active
                        color #fff
                        background-color $theme_color


