// ------------------------------
// 多端响应适配
// ------------------------------

@media screen and (max-width:1100px)
    html
    body
        height auto
    .sidebar
        width 200px
        display block
        position absolute
        left 0
        top 0
        z-index 1
        height 100%
    .main-con
        width 100%
        float none
        position relative
        z-index 20
        #con-wrap
            margin $wrap_margin_media
            overflow hidden
        .pagination
            margin $wrap_margin_media
        .footer
            padding $wrap_margin_media
        .top
            .top-info
                padding 20px
                .site-name
                .account-list
                    float none
                .account-list
                    display none
                .site-name
                    a
                        display inline
                    text-align center
                    small
                        display none
            #media-toggle
                display block !important
                position absolute
                top 50%
                left 50px
                margin-top -11px
                color #fff
                font-size 25px
                z-index 11
        .article-inner
            .article-head
                padding $wrap_margin_media
        .inner-con
            .article-wrap
                margin $wrap_margin_media
        .column-head
            padding $wrap_margin_media
    .toolbar
        width 100%
        float none
    .article-dirname
        display none
    .media-menu_child
        display block !important
        background-color $theme_color
        position relative
        #media-toggle
            display block !important
            position absolute
            top 50%
            left 20px
            margin-top -11px
            color #fff
            font-size 22px
            z-index 11
        .menu-name
            padding 10px 0px
            text-align center
            a
                font-size 24px
                color #fff
    #extend-tools
        display none !important


