// ------------------------------
// 归档页样式
// ------------------------------

.archive-year
    font-size 32px
    padding 50px
    background-color #f7f7f7
    color $text_color
    span.year-block
    span.year-info
        display inline-block
    span.year-block
        width 50px
        height 25px
        background-color $theme_color
    span.year-info
        margin-left -20px
        &:first-letter
            color #fff

.archive
    background #f7f7f7
    .article-title
        height 50px
        line-height 50px
        font-weight normal
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        a
            font-weight normal
            font-size 26px
            color $text_color
            &:hover
                text-decoration underline
        border(bottom)
        span.article-time
            float right
        small
            font-size 14px
