// ------------------------------
// 中栏（主体内容区样式）
// ------------------------------

.column-head
    padding $wrap_margin
    @extend .background
    text-shadow()
    position relative
    .column-title
        font-size $column_text_size
        color #ffffff
        position relative
        z-index 10

.main-con
    margin 0px 250px
    height 100%
    overflow hidden
    background $main_color
    #con-wrap
        margin $wrap_margin
    .article
        margin-bottom 50px
    .article-time
        font-size 14px
        color $text_color_description
        i
            padding-right 10px
    .article-title
        padding-top 10px
        padding-bottom 25px
        overflow hidden
    .article-title a
        font-size 38px
        font-weight bold
        color $text_color
        &:hover
            text-decoration underline
    .more-link
        color $theme_color
        display block
        margin 20px 0px
    .tags-list
        margin-top 20px
        display inline-block
        li
            float left
            margin 0px 15px 15px 0px
            a
                display block
                font-size 12px
                padding 5px 15px
                transition()
                background-color rgba(0,0,0,0.2)
                color #aaa
                i
                    padding-right 5px
                &:hover
                    background-color $theme_color
                    color #fff
                    text-decoration none
    .pagination
        margin $wrap_margin
        .current
            background-color $theme_color
            border(all, 1px solid $theme_color)
        span
        a
            display inline-block
            font-size 14px
            padding 10px 20px
            border()
            color $text_color
            transition()
            &:hover
                background-color $theme_color
                color $text_color
.fadeToBottom
    animation fadeToBottom 0.8s ease-out
@keyframes fadeToBottom {
    from {
        opacity 0
        transform translate(0, -30px)
    }    
    to {
        opacity 1
        transform translate(0, 0px)
    }
}
.fadeToTop
    animation fadeToTop 0.8s ease-out
@keyframes fadeToTop {
    from {
        opacity 0
        transform translate(0, 30px)
    }    
    to {
        opacity 1
        transform translate(0, 0px)
    }
}