// ------------------------------
// 底部
// ------------------------------

.footer
    padding 50px 0px
    text-align right
    .footer-intro
        color $text_color_description
        margin 10px 0px
        font-size 14px
        a
            color: $text_color
