// ------------------------------
// 头部样式文件
// ------------------------------

.header
    position relative
    .header-info
        padding 50px 0px
    .header-name
        font-size: 38px
        text-align center;
        &:first-letter
            color $theme_color
        small
            color #595959
            font-size 14px
            font-weight normal
        a
            color #fff