// ------------------------------
// 导航
// ------------------------------

.nav
    height 40px
    line-height 40px
    float right
    li
        float left
        a
            display block
            padding 0px 20px
            color #9e9e9e
            font-size 18px
            position relative
            box-sizing border-box
            transition()
            &:hover
            &.active
                @extend .nav_active